

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Examples: Tables in Django (with Mongodb as a backend) &mdash; Introduction to Cloud Computing 1.1.5 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="author" title="About these documents"
              href="../../about.html"/>
    <link rel="top" title="Introduction to Cloud Computing 1.1.5 documentation" href="../../index.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> Introduction to Cloud Computing
          

          
          </a>

          
            
            
              <div class="version">
                1.1.5
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul>
<li class="toctree-l1"><a class="reference internal" href="../../preface.html">Preface</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../about.html">About</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contact.html">Contact</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../resources.html">Resources from the Internet</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../class/index.html">Cloudmesh in Classes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../projects/index.html">Possible Projects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../accounts/index.html">Cloud Accounts</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cloudmesh/index.html">Cloudmesh</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../parallel.html">Parallel Shell</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../iaas/index.html">IaaS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../paas/index.html">PaaS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../hpc/index.html">HPC</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../hardware/index.html">Hardware</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../devops/index.html">DevOps</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../ipython/index.html">IPython</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../rst.html">reStructuredText</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../management/index.html">Create Cloudmesh Development Image</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contribute/index.html">Contribute to Cloudmesh</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../archived.html">Archived</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../todo.html">ToDos</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">Introduction to Cloud Computing</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          





<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
    <li>Examples: Tables in Django (with Mongodb as a backend)</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../_sources/unfinished/django/tables.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="examples-tables-in-django-with-mongodb-as-a-backend">
<h1>Examples: Tables in Django (with Mongodb as a backend)<a class="headerlink" href="#examples-tables-in-django-with-mongodb-as-a-backend" title="Permalink to this headline">¶</a></h1>
<div class="section" id="description">
<h2>Description<a class="headerlink" href="#description" title="Permalink to this headline">¶</a></h2>
<p>This is an example of how to create a Table in Django with mongodb as a
backend</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Follow previous tutorials in order to have a bootstrapped theme
table</p>
</div>
<p>In your <code class="docutils literal"><span class="pre">settings.py</span></code> file in your Django Project, do a <code class="docutils literal"><span class="pre">pip</span> <span class="pre">install</span> <span class="pre">django-tables2</span></code> and then add <code class="docutils literal"><span class="pre">'django_tables2'</span></code> to your <code class="docutils literal"><span class="pre">INSTALLED_APPS</span></code> function.  Finally add <code class="docutils literal"><span class="pre">'django.core.context_processors.request'</span></code> to <code class="docutils literal"><span class="pre">TEMPLATE_CONTEXT_PROCESSORS</span></code>.</p>
<p>In your <code class="docutils literal"><span class="pre">templates</span></code> directory, make your desired html file and let it have
this format at the top:</p>
<div class="highlight-python"><div class="highlight"><pre>{% extends &quot;base.html&quot; %}
{% load render_table from django_tables2 %}
</pre></div>
</div>
<p>Now the body of the html should be enclosed with <code class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">content</span> <span class="pre">%}</span></code> &amp; <code class="docutils literal"><span class="pre">{%</span> <span class="pre">endblock</span> <span class="pre">%}</span></code>
tags. Similar to below:</p>
<div class="highlight-python"><div class="highlight"><pre>{% block content %}
        &lt;!doctype html&gt;
        &lt;html&gt;
                &lt;head&gt;
                        &lt;link rel=&quot;stylesheet&quot; href=&quot;{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css&quot; /&gt;
                &lt;/head&gt;
                &lt;body&gt;
                        {% render_table table %}
                &lt;/body&gt;
        &lt;/html&gt;

{% endblock %}
</pre></div>
</div>
<p>Now go into your app (see previous tutorial on creating apps) and go to your
<code class="docutils literal"><span class="pre">models.py</span></code> file and do the following:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">django.db</span> <span class="kn">import</span> <span class="n">models</span>
<span class="kn">import</span> <span class="nn">django_tables2</span> <span class="kn">as</span> <span class="nn">tables</span>

<span class="k">class</span> <span class="nc">Person</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
        <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">200</span><span class="p">)</span>
</pre></div>
</div>
<p>Now create a <code class="docutils literal"><span class="pre">tables.py</span></code> file in your app and in the file write this:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">import</span> <span class="nn">django_tables2</span> <span class="kn">as</span> <span class="nn">tables</span>
<span class="kn">from</span> <span class="nn">tables_app.models</span> <span class="kn">import</span> <span class="n">Person</span>


<span class="k">class</span> <span class="nc">PersonTable</span><span class="p">(</span><span class="n">tables</span><span class="o">.</span><span class="n">Table</span><span class="p">):</span>
        <span class="n">name</span> <span class="o">=</span> <span class="n">tables</span><span class="o">.</span><span class="n">Column</span><span class="p">(</span><span class="n">verbose_name</span> <span class="o">=</span> <span class="s2">&quot;full name&quot;</span><span class="p">)</span>

<span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
        <span class="n">model</span> <span class="o">=</span> <span class="n">Person</span>
        <span class="n">attrs</span> <span class="o">=</span> <span class="p">{</span><span class="s2">&quot;class&quot;</span><span class="p">:</span> <span class="s2">&quot;paleblue&quot;</span><span class="p">}</span>

<span class="k">class</span> <span class="nc">NameTable</span><span class="p">(</span><span class="n">tables</span><span class="o">.</span><span class="n">Table</span><span class="p">):</span>
        <span class="n">name</span> <span class="o">=</span> <span class="n">tables</span><span class="o">.</span><span class="n">Column</span><span class="p">()</span>
        <span class="n">ID</span> <span class="o">=</span> <span class="n">tables</span><span class="o">.</span><span class="n">Column</span><span class="p">()</span>
</pre></div>
</div>
<p>Now go to your <code class="docutils literal"><span class="pre">views.py</span></code> file and write the following commands:</p>
<div class="highlight-python"><div class="highlight"><pre>from django.shortcuts import render
from django_tables2   import RequestConfig
from tables_app.models  import Person
from tables_app.tables  import PersonTable
from tables_app.tables import NameTable

def people(request):

data = [
        {&quot;name&quot;: &quot;Bradley&quot;, &quot;ID&quot;: 1},
        {&quot;name&quot;: &quot;Stevie&quot;, &quot;ID&quot; : 2},
]

table = NameTable(data)
RequestConfig(request).configure(table)
return render(request, &quot;tables_example.html&quot;, {&#39;table&#39;: table})
</pre></div>
</div>
<p>Now make sure that in the project folder, that your <code class="docutils literal"><span class="pre">urls.py</span></code> is connected to
your newly created view and you should see a table when you type
<a class="reference external" href="http://127.0.0.1.8000/people">http://127.0.0.1.8000/people</a> !</p>
</div>
<div class="section" id="ready-made-example">
<h2>Ready Made Example<a class="headerlink" href="#ready-made-example" title="Permalink to this headline">¶</a></h2>
<p>A ready made example for you is contained in the directory
<code class="docutils literal"><span class="pre">management/django/tables</span></code>. Please cd into the directory.</p>
<p>In this directory you will also find a Makefile that you can use to
execute the above steps. To start the server, you can say:</p>
<div class="highlight-python"><div class="highlight"><pre>make start
</pre></div>
</div>
<p>To view the web pages, say:</p>
<div class="highlight-python"><div class="highlight"><pre>make view
</pre></div>
</div>
<p>In case you need to recreate the server please say:</p>
<div class="highlight-python"><div class="highlight"><pre>make create
</pre></div>
</div>
<p>To cleanup you say:</p>
<div class="highlight-python"><div class="highlight"><pre>make clean
</pre></div>
</div>
<p>To stop the server please say:</p>
<div class="highlight-python"><div class="highlight"><pre>make stop
</pre></div>
</div>
<p>The steps are implicitly included in the makefile</p>
</div>
</div>


           </div>
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2015, Gregor von Laszewski.

    </p>
  </div> 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'1.1.5',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>